
<header>
    <form action='/search' method='post'>
    <h2>chercher un produit </h2> 
    <div class ="group">
        <input type="search" type="text" placeholder="Produit Name" id="name">
        <label for="name">Produit Name</label>
    </div>
    </form>

</header>

